@font-face {
	font-family: "Helvetica Regular";
  src: url('../assets/fonts/helveticaNeue/Helvetica.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "Helvetica Bold";
  src: url('../assets/fonts/helveticaNeue/Helvetica-Bold.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Light";
  src: url('../assets/fonts/monument/MonumentExtended-Light.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Regular";
  src: url('../assets/fonts/monument/MonumentExtended-Regular.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Black";
  src: url('../assets/fonts/monument/MonumentExtended-Black.woff2') format("woff2");/* chrome、firefox */
}