@font-face {
	font-family: "HelveticaNeue Regular";
  src: url('../assets/fonts/helveticaNeue/HelveticaNeueRegular.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "HelveticaNeue Bold";
  src: url('../assets/fonts/helveticaNeue/HelveticaNeueBold.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Light";
  src: url('../assets/fonts/monument/MonumentExtended-Light.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Regular";
  src: url('../assets/fonts/monument/MonumentExtended-Regular.woff2') format("woff2");/* chrome、firefox */
}

@font-face {
	font-family: "MonumentExtended Black";
  src: url('../assets/fonts/monument/MonumentExtended-Black.woff2') format("woff2");/* chrome、firefox */
}