@import '_font.scss';
@import '_variables.scss';

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Helvetica Regular';
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

.title{
  font-family: 'MonumentExtended Black';
  color: $blue;
  font-size: 24px;
}

.title2{
  font-family: 'MonumentExtended Light';
  color: $greyLight;
  font-size: 16px;
}

.title3{
  font-family: 'MonumentExtended Light';
  color: $greyLight;
  font-size: 10px;
}

.corpTitle{
  font-family: 'Helvetica Bold';
  color: $greyLight;
  font-size: 14px;
}
.corp{
  font-family: 'Helvetica Regular';
  color: $greyLight;
  font-size: 12px;
}