@import '_font.scss';
@import '_variables.scss';

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Helvetica Regular';
  background-color: $grey2;
  font-size: 12px;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

input[type=text]{
  border: none;
  background-color: transparent;

  &:focus {
    outline: 0;
  }

}

.title{
  font-family: 'MonumentExtended Black';
  color: $blue;
  font-size: 24px;
}

.title2{
  font-family: 'MonumentExtended Regular';
  color: $greyLight;
  font-size: 16px;
}

.title3{
  font-family: 'MonumentExtended Regular';
  color: $greyLight;
  font-size: 10px;
}

.corpsTitle{
  font-family: 'Helvetica Bold';
  color: $greyLight;
  font-size: 14px;
}
.corps{
  font-family: 'Helvetica Regular';
  color: $greyLight;
  font-size: 12px;
}

.grey1{
  color: $grey1;
}

.grey2{
  color: $grey2;
}

.grey3{
  color: $grey3;
}

.greyLight {
  color: $greyLight;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}