.DesktopHomePage{
    display: grid;
    grid-template-columns: 280px 1fr;
    background-color: #1C1C1C;
    .SuggestContainer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .SuggestList{
        padding-top: 10px;
        color: #dadada;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 14px;
        img{
            width: 14vw;
            height: 14vw;
            background-color: white;
        }
    }
    .TitleContainer{
        font-family: "MonumentExtended Regular";
        font-size: 16px;
        color: white;
        
    }
}