
.DesktopArtistPage {

	background-color: $grey2;
	display: grid;
	grid-template-rows: 4;
	grid-template-columns: 2;

	.title{
		color : $greyLight;
	}

	.ArtistName {
		grid-row: 1/2;
		grid-column: 1/2;
		background-color: royalblue;
	}
	.TopTitresArtist {
		grid-row: 2/3;
		grid-column: 2/4;
		background-color: red;
	}
	.AlbumsArtistPage{
		grid-row: 3/4;
		grid-column: 1/3;
		background-color: salmon;
	}
	.DerniereSortieArtistPage{
		grid-row: 2/3;
		grid-column: 1/2;
		background-color: seagreen;
	}
	.ListeTopTitres{
		font-family: 'Helvetica Regular';
  		color: $greyLight;
  		font-size: 12px;
	}
	.ListeAlbums{
		display: flex;
		font-family: 'Helvetica Regular';
		text-align: center;
  		color: $greyLight;
  		font-size: 12px;
	}

}

.ArtistBannerWrap{
	overflow: hidden;
	height: 200px;
	/*
	display: flex;
	
	align-items: center; 
	
	justify-content: center;
	*/
	
	img{
		width: 100%;
		height: auto;
	}
}

.insertionMenu{
	margin-left: 220px;
}