
.DesktopArtistPage {

	background-color: $grey2;
	display: grid;
	grid-template-rows: 4;
	grid-template-columns: 40vw auto;

	.title{
		color : $greyLight;
	}

	.ArtistName {
		grid-row: 1/2;
		grid-column: 1/3;
		margin-top: 20px;
		margin-left: 30px;
		margin-bottom: 50px;
		border-bottom: 1px solid black;
	}
	
	.AlbumsArtistPage{
		margin-left: 30px;
		margin-top: 30px;
		grid-row: 3/4;
		grid-column: 1/3;
		.CategoryAlbum{
			margin-bottom: 15px;
		}
	}
	.LastReleaseZoneArtistPage{
		grid-row: 2/3;
		grid-column: 1/2;
		margin-left: 30px;
		
	}
	.TopTitresArtist {
		grid-row: 2/3;
		grid-column: 2/4;

		.CategoryTopTitres{
			margin-bottom: 15px;
		}

		.ListeTopTitres{
			font-family: 'Helvetica Regular';
			color: $greyLight;
			font-size: 12px;
			display: grid;
			grid-template-rows: 3;
			grid-template-columns: 3;

			.firstRow{
				grid-row: 1/4 ;
				grid-column: 1/2;
			}
			.secondRow{
				grid-row: 1/4;
				grid-column: 2/3;
			}
			.thirdRow{
				grid-row: 1/2 ;
				grid-column: 3/4;
			}
		}
	}
	
	.ListeAlbums{
		display: flex;
		font-family: 'Helvetica Regular';
		text-align: center;
  		color: $greyLight;
		font-size: 12px;
	}

}

.ArtistBannerWrap{
	overflow: hidden;
	height: 200px;
	/*
	display: flex;
	
	align-items: center; 
	
	justify-content: center;
	*/
	
	img{
		width: 100%;
		height: auto;
	}
}

.insertionMenu{
	margin-left: 220px;
}