.DesktopHomePage{
    margin-left: calc(#{$LM-width} + #{$margin});
    margin-bottom: calc(#{$PlayBar-width} + #{$margin});
    margin-top: $margin;
    display: grid;
    background-color: #1C1C1C;

    .SuggestContainer{
        padding-bottom: 20px ;
    }

    .SuggestList{
        padding-top: 15px;
        color: $grey3;
        display: grid;
        grid-auto-flow: column;
        //grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 14px;
        img{
            width: 14vw;
            height: 14vw;
            background-color: white;
        }
    }

    .TitleContainer{
        font-family: "MonumentExtended Regular";
        font-size: 16px;
        color: white;
        
    }
}