.artistPage {

	.grid {
		display: grid;
		grid-template-columns: $mobile-grid;
	}

	.centerContent{
		grid-column: 2;

	}

	.bluePart {
		position: relative;
		background-color: $blue;
		padding-top: 50px;

		h2 {
			margin-bottom: 22px;
			font-size: 22px;
		}

		img {
			width: 100%;
			height: auto;
		}

		.playBtn {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.secondPart {
		margin-bottom: 9vw;

		.section {
			margin-top: 30px;
			position: relative;

			h3 {
				margin-bottom: 15px;
				margin-top: 15px;
			}
		}

		img {
			width: 20vw;
			height: auto;
		}

		.sectionBorders {

			hr{ 
			//position: absolute;
			top: 0;
			right: 0;
	    //width: 82vw;
			}
		}

		.lastProject {
			display: grid;
			grid-template-columns: 1fr 4fr;
			grid-template-rows: auto auto;

			h3 {
				grid-column: 1/3;
			}

			img {
				width: 100%;
			}

			.projectInfo {
				align-self: end;
				margin-left: 10px;
			}
		}

		.topTrack {
			margin-bottom: 18vw;

			li {
				span{
				display: inline-block;
				font-size: 14px;
				padding-top: 5px;
				padding-bottom: 5px;
				}
			}
		}

		.albumsList {

			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				// grid-template-columns: repeat(3, auto);
				// align-content: space-between;
			}

			h4, span {
				text-align: right;
				display: block;
			}
		}
	}
}