.artistPage {

	.grid {
		display: grid;
		grid-template-columns: $mobile-grid;
	}

	.centerContent{
		grid-column: 2;

	}

	.bluePart {
		position: relative;
		background-color: $blue;

		img {
			width: 100%;
			height: auto;
		}

		.playBtn {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.secondPart {
		img {
			width: 20vw;
			height: auto;
		}

		.sectionBorders {
			position: absolute;
			bottom: 0;
			right: 0;
	    width: 82vw;
	    border: 0;
	    border-top: solid 1px $greyLight;
	    opacity: 0.1;
		}

		.lastProject {
			display: grid;
			grid-template-columns: 1fr 4fr;
			grid-template-rows: auto auto;
			position: relative;

			h3 {
				grid-column: 1/3;
			}

			img {
				width: 100%;
			}

			.projectInfo {
				align-self: end;
			}
		}

		.topTrack {
			position: relative;	

			li {
				hr {
			    width: 100%;
			    border: 0;
			    border-top: solid 1px $greyLight;
			    opacity: 0.1;
				}
			}
		}

		.albumsList {
			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				// grid-template-columns: repeat(3, auto);
				// align-content: space-between;
			}

			h4, span {
				text-align: right;
				display: block;
			}
		}
	}
}