.playerPage{
    display: grid;
    grid-template-rows: 2fr 6fr 4fr ;
    height: 100vh;
    .upPart{
        display: grid;
        grid-template-columns: $mobile-grid;
    }
    .midPart{
        display: grid;
        grid-template-columns: $mobile-grid;
        
    }
    .trackInfo{
        color: white;
        position: relative;

        .title{
            font-family: 'MonumentExtended regular';
            color: $greyLight;
            font-size: 16px;
          }
        .artist{
            font-family: 'MonumentExtended light';
            color: $blue;
            font-size: 12px;
        }
        img{
            width: 73vw;
            height: 73vw;
            background-color: white;
        }  
    }
    .downPart{
        display: grid;
        grid-template-columns: $mobile-grid;
        .controler{
            display: grid;
            grid-template-rows: 1fr 1fr;
            .btnControlers{
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                div{
                    color: $greyLight;
                }
                .Btn{
                    color: $blue;
                }
            
            }
        background-color: $grey1;  
        }
        .player{
            display: grid;
            grid-template-rows: 1fr 1fr;
            .buttons{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .progressBar{
                background-color: $greyLight;
                height: 2px;
            }
            .expiredBar{
                background-color: $blue;
                height: 2px;
                width: 80%;
            }
            .slider{
                height: 2px;
                width: 100%;
            }
        }
        
        
    }
    
}