.MobilePlaybar{
    border-top: 1px solid $blue;
    bottom: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: $grey1;
    display: grid;
    grid-template-columns: $mobile-grid ;

    .leftPart{
        justify-self: right;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        position: relative;
        .playButton{
            z-index: 2;
            grid-row: 1;
            grid-column: 1;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%
        }
    
        .cover{
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            height: 50px;
            width: 50px;
        }
    }
    
    .rightPart{
        grid-column: 2/4;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        .button{
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            justify-self: right;
            .homebutton{
                margin-top: 15px;
                margin-right: 20px;
            }
            .searchbutton{
                margin-top: 15px;
                margin-right: 20px;
            }
            .queuebutton{
                margin-top: 15px;
                margin-right: 20px;
            }
        }
    }
    .titlePlayedTrack{
        padding-top: 5px;
        color : $greyLight;
        font-size: 16px;
        grid-column: 1;
        grid-row: 1/2;
        padding-left: 10px;
    }   
    .artistPlayedTrack{
        color : $greyLight;
        font-size: 12px;
        grid-column: 1;
        grid-row: 2/3;
        padding-left: 10px;
    }
    .leftPart{
        justify-self: right;
        align-self: center;
        grid-column: 1;
        grid-row: 1/3;
        padding-right: 8px ;
    }
   
}
