.trackElement {
	width: 100%;
	color: $grey3;
	padding: 6px 0;
	span {
		&.trackTitle {
			color: $greyLight;
		}

		&.trackArtist {
			justify-self: end;
		}

		&.trackDuration {
			grid-column: 5;
			justify-self: end;
		}
	}
}