.trackElement {
	width: 100%;
	color: $grey3;
	padding: 6px 0;
	span {
		&.trackTitle {
			color: $greyLight;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}


		&.trackDuration {
			grid-column: 5;
			justify-self: end;
		}
	}
	.trackArtist {
		justify-self: end;

	}
}