.soundbar{
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto ;
    align-items: center;
    justify-items: right;

    .slidecontainer{
        padding: 5px;
        .slider{
            -webkit-appearance: none;  /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 4px; /* Specified height */
            background: $grey3; /* Grey background */
            outline: none; /* Remove outline */
        }
        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 15px; /* Set a specific slider handle width */
            height: 8px; /* Slider handle height */
            background: $blue; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
        
        .slider::-moz-range-thumb {
            width: 15px; /* Set a specific slider handle width */
            height: 8px; /* Slider handle height */
            background: $blue; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
        /* Mouse-over effects */
        .slider:hover {
            background: $white; /* Grey background */
        }
    }
}