.gridLMInfo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
    justify-items: right;
    background-color: $grey2;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;

    .playedImg {
        height: 150px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .playedTrack{
        grid-column: 1;
        grid-row: 2;
        text-align: left;


        // .like{
        //     height: 20px;
        //     width: 20px;
        // }

        // Variable Global modifié :
        .corpsTitle{
            color: $blue;
            padding-bottom: 5px ;
        }
        .corps{
            padding-bottom: 5px ;
        }
    }
}