@import '../../scss/_init.scss';
.styleDesktopLM {
    position: fixed;
    background-color: $grey1;
    height: 70vh;
    min-height: 500px;
    /*
    overflow: hidden;
    width: 15vw;
    */
    h1{
        top: 20px;
        left: 20px;
    }
}