.DesktopLMGrid{
    height: 100%;
    width: $LM-width;
    position: fixed;
    background-color: $grey1;
    z-index: 10;
    bottom: 0;
    left: 0;
    color: $greyLight;
  	display: grid;
	grid-template-columns: auto;
    grid-template-rows: 1fr 240px;
    text-align: center;

    // .NavGrid{
    //     grid-column: 1;
    //     grid-row: 1;
    // }

    // .InfoPlayerGrid{
    //     grid-column: 1;
    //     grid-row: 2;

    // }

}